<form xmlns:th="http://www.thymeleaf.org" th:id="form-ruangan" th:action="@{~/master/ruangan/update}"
      th:method="post" th:object="${ruangan}">
    <input type="hidden" name="id" th:value="${ruangan.id}">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Edit Ruangan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<!--            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--                </ul>-->
<!--            </div>-->
            <div class="row g-2">
                <div class="col mb-0">
                    <label for="buildingId" class="form-label">Gedung</label>
                    <select id="buildingId" name="buildingId" th:value="${ruangan.buildingId}" data-allow-clear="true"
                            th:class="${#fields.hasErrors('buildingId')}? 'form-select select2 is-invalid': 'form-select select2'">
                        <option value="">Pilih Gedung</option>
                        <option th:each="item : ${dataGedung}" th:value="${item.id}" th:text="${item.name}"
                                th:selected="${item.id == ruangan.buildingId}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('buildingId')}" class="invalid-feedback">
                        <span th:errors="*{buildingId}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="code" class="form-label">Kode</label>
                    <input type="text" id="code" name="code" th:value="${ruangan.code}"
                           th:class="${#fields.hasErrors('code')}? 'form-control is-invalid': 'form-control'" placeholder="Kode" />
                    <div th:if="${#fields.hasErrors('code')}" class="invalid-feedback">
                        <span th:errors="*{code}"></span>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col mb-0">
                    <label for="name" class="form-label">Nama</label>
                    <input type="text" id="name" name="name" th:value="${ruangan.name}"
                           th:class="${#fields.hasErrors('name')}? 'form-control is-invalid': 'form-control'" placeholder="Nama" />
                    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="capacity" class="form-label">Kapasitas</label>
                    <input type="text" id="capacity" name="capacity" th:value="${ruangan.capacity}"
                           th:class="${#fields.hasErrors('capacity')}? 'form-control is-invalid': 'form-control'" placeholder="capacity" />
                    <div th:if="${#fields.hasErrors('capacity')}" th:class="invalid-feedback">
                        <span th:errors="*{capacity}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer input-group">
            <button type="submit" class="btn btn-success">
                Save Changes
            </button>
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                Close
            </button>
        </div>
</form>