<form xmlns:th="http://www.thymeleaf.org" th:id="form-level" th:action="@{~/master/level/update}" th:method="post"
      th:object="${level}">
    <input type="hidden" name="id" th:value="${level.id}">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Edit Level</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<!--            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--                </ul>-->
<!--            </div>-->
            <div class="row">
                <div class="col mb-3">
                    <label for="institutionId" class="form-label">Lembaga</label>
                    <select id="institutionId" name="institutionId" th:value="${level.institutionId}" data-allow-clear="true"
                            th:class="${#fields.hasErrors('institutionId')}? 'form-select select2 is-invalid': 'form-select select2'">
                        <option value="">Pilih Lembaga</option>
                        <option th:each="item : ${dataLembaga}" th:value="${item.id}" th:text="${item.name}"
                                th:selected="${item.id == level.institutionId}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('institutionId')}" class="invalid-feedback">
                        <span th:errors="*{institutionId}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="code" class="form-label">code Level</label>
                    <input type="text" id="code" name="code" th:value="${level.code}"
                           th:class="${#fields.hasErrors('code')}? 'form-control is-invalid': 'form-control'" placeholder="code" />
                    <div th:if="${#fields.hasErrors('code')}" class="invalid-feedback">
                        <span th:errors="*{code}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="name" class="form-label">name Level</label>
                    <input type="text" id="name" name="name" th:value="${level.name}"
                           th:class="${#fields.hasErrors('name')}? 'form-control is-invalid': 'form-control'" placeholder="nama" />
                    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="position" class="form-label">No-Urut</label>
                    <input type="number" id="position" name="position" th:value="${level.position}"
                           th:class="${#fields.hasErrors('position')}? 'form-control is-invalid': 'form-control'" placeholder="no-urut" />
                    <div th:if="${#fields.hasErrors('position')}" class="invalid-feedback">
                        <span th:errors="*{position}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" class="btn btn-warning">Save Changes</button>
        </div>
</form>