<form xmlns:th="http://www.thymeleaf.org" th:id="form-mapel" th:action="@{~/master/mapel/update}"
      th:method="post" th:object="${mapel}">
    <input type="hidden" name="id" th:value="${mapel.id}">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Edit Mata Pelajaran</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!--            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">-->
            <!--                <ul>-->
            <!--                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
            <!--                </ul>-->
            <!--            </div>-->
            <div class="row">
                <div class="col mb-3">
                    <label for="code" class="form-label">Kode</label>
                    <input type="text" id="code" name="code" th:value="${mapel.code}" th:class="${#fields.hasErrors('code')}? 'form-control is-invalid': 'form-control'" placeholder="Kode" />
                    <div th:if="${#fields.hasErrors('code')}" class="invalid-feedback">
                        <span th:errors="*{code}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="name" class="form-label">Nama</label>
                    <input type="text" id="name" name="name" th:value="${mapel.name}" th:class="${#fields.hasErrors('name')}? 'form-control is-invalid': 'form-control'" placeholder="Nama" />
                    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="types" class="form-label">Types</label>
                    <input type="text" id="types" name="types" th:value="${mapel.types}" th:class="${#fields.hasErrors('types')}? 'form-control is-invalid': 'form-control'" placeholder="Types" />
                    <div th:if="${#fields.hasErrors('types')}" class="invalid-feedback">
                        <span th:errors="*{types}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer input-group">
            <button type="submit" class="btn btn-warning">Save Changes</button>
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                Close
            </button>
        </div>
</form>