<form xmlns:th="http://www.thymeleaf.org" th:id="form-person" th:action="@{~/master/person/save}"
      th:method="post" th:object="${person}">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Tambah Person</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<!--            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--                </ul>-->
<!--            </div>-->
            <div class="row">
                <div class="col mb-3">
                    <label for="userId" class="form-label">User Id</label>
                    <input type="text" id="userId" name="userId" th:value="${person.userId}"
                           th:class="${#fields.hasErrors('userId')}? 'form-control is-invalid': 'form-control'" placeholder="user id" />
                    <div th:if="${#fields.hasErrors('userId')}" class="invalid-feedback">
                        <span th:errors="*{userId}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="nik" class="form-label">NIK</label>
                    <input type="text" id="nik" name="nik" th:value="${person.nik}"
                           th:class="${#fields.hasErrors('nik')}? 'form-control is-invalid': 'form-control'" placeholder="nik" />
                    <div th:if="${#fields.hasErrors('nik')}" th:class="invalid-feedback">
                        <span th:errors="*{nik}"></span>
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="personNo" class="form-label">Nomor</label>
                    <input type="text" id="personNo" name="personNo" th:value="${person.personNo}"
                           th:class="${#fields.hasErrors('personNo')}? 'form-control is-invalid': 'form-control'" placeholder="nomor" />
                    <div th:if="${#fields.hasErrors('personNo')}" class="invalid-feedback">
                        <span th:errors="*{personNo}"></span>
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="fullName" class="form-label">Nama</label>
                    <input type="text" id="fullName" name="fullName" th:value="${person.fullName}"
                           th:class="${#fields.hasErrors('fullName')}? 'form-control is-invalid': 'form-control'" placeholder="nama" />
                    <div th:if="${#fields.hasErrors('fullName')}" class="invalid-feedback">
                        <span th:errors="*{fullName}"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col mb-0">
                    <label for="address" class="form-label">Alamat Tinggal</label>
                    <input type="text" id="address" name="address" th:value="${person.address}"
                           th:class="${#fields.hasErrors('address')}? 'form-control is-invalid': 'form-control'" placeholder="alamat tinggal" />
                    <div th:if="${#fields.hasErrors('address')}" class="invalid-feedback">
                        <span th:errors="*{address}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="dob" class="form-label">Tanggal Lahir</label>
                    <input type="date" id="dob" name="dob" th:value="${person.dob}"
                           th:class="${#fields.hasErrors('address')}? 'form-control is-invalid': 'form-control'" placeholder="tanggal lahir" />
                    <div th:if="${#fields.hasErrors('dob')}" class="invalid-feedback">
                        <span th:errors="*{dob}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-0">
                    <label for="pob" class="form-label">Tempat Lahir</label>
                    <input type="text" id="pob" name="pob" th:value="${person.pob}"
                           th:class="${#fields.hasErrors('pob')}? 'form-control is-invalid': 'form-control'" placeholder="tempat lahir" />
                    <div th:if="${#fields.hasErrors('pob')}" class="invalid-feedback">
                        <span th:errors="*{pob}"></span>
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" name="gender" th:value="${person.gender}" data-allow-clear="true"
                            th:class="${#fields.hasErrors('gender')}? 'form-select select2 is-invalid': 'form-select select2'">
                        <option value="">Pilih Gender</option>
                        <option th:each="item : ${gender}" th:value="${item.code}" th:text="${item.name}"
                                th:selected="${item.code == person.gender}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('gender')}" class="invalid-feedback">
                        <span th:errors="*{gender}"></span>
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="religion" class="form-label">Agama</label>
                    <select id="religion" name="religion" th:value="${person.religion}" data-allow-clear="true"
                            th:class="${#fields.hasErrors('religion')}? 'form-select select2 is-invalid': 'form-select select2'">
                        <option value="">Pilih Agama</option>
                        <option th:each="item : ${religion}" th:value="${item.code}" th:text="${item.name}"
                                th:selected="${item.code == person.religion}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('religion')}" class="invalid-feedback">
                        <span th:errors="*{religion}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="bloodType" class="form-label">Gol-Darah</label>
                    <select id="bloodType" name="bloodType" th:value="${person.bloodType}" data-allow-clear="true"
                            th:class="${#fields.hasErrors('bloodType')}? 'form-select select2 is-invalid': 'form-select select2'">
                        <option value="">Pilih Gol Darah</option>
                        <option th:each="item : ${bloodType}" th:value="${item.code}" th:text="${item.name}"
                                th:selected="${item.code == person.bloodType}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('bloodType')}" class="invalid-feedback">
                        <span th:errors="*{bloodType}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="telephone" class="form-label">No-Telp</label>
                    <input type="text" id="telephone" name="telephone" th:value="${person.telephone}"
                           th:class="${#fields.hasErrors('telephone')}? 'form-control is-invalid': 'form-control'" placeholder="no-telp" />
                    <div th:if="${#fields.hasErrors('telephone')}" th:class="invalid-feedback">
                        <span th:errors="*{telephone}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" th:value="${person.email}"
                           th:class="${#fields.hasErrors('email')}? 'form-control is-invalid': 'form-control'" placeholder="email" />
                    <div th:if="${#fields.hasErrors('email')}" th:class="invalid-feedback">
                        <span th:errors="*{email}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer input-group">
            <button type="submit" class="btn btn-success">
                <i class="ti ti-check"></i> &nbsp;
                Save
            </button>
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                Close
            </button>
        </div>
</form>